<div class="jumbotron text-center">
  <div #alert1 class="alert alert-danger alert-dismissible fade show hide" role="alert">
    <button type="button" class="close" aria-label="Close" (click)="closeAlert('alert1')">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong #message id="message">Reached Max count.Please get another lot. </strong>
  </div>
  <h3>Loopback Tracking Process</h3>

  <form [formGroup]="insertionForm" (ngSubmit)="onFormSubmit()">
    <div class="row">
      <div class="col">
        <div class="md-form mt-0">
          <input type="text" class="completer-input form-control mdb-autocomplete" formControlName="gpn"
              (ngModelChange)="filter($event)" [mdbAutoCompleter]="auto" placeholder="Lot Number">

            <mdb-auto-completer #auto="mdbAutoCompleter" textNoResults="No results found.">
              <mdb-option *ngFor="let option of results" [value]="option" (click)="checkGPN(option)">
                {{ option }}
              </mdb-option>
            </mdb-auto-completer>
        </div>
      </div>
    </div>
    <div *ngIf="visible">
    <div class="row">
      <div class="col serialNumber">
        <div class="md-form mt-0">
          <input mdbInput type="number" class="form-control" disabled value="999999">
          <label>Badge ID:</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col serialNumber">
        <div class="md-form mt-0">
          <input mdbInput type="text" class="form-control" disabled value="MIMAssetTag">
          <label>asset tag:</label>
        </div>
      </div>
    </div>
    <div #alert2 class="alert alert-primary alert-dismissible fade show" [ngClass]="{'alert-warning': (gpn.maxCount - gpn.counter <= 1)}" role="alert">
     <strong #message id="message">Current Lot Count: {{gpn.counter}}. Max Count is: {{gpn.maxCount}}</strong>
     <p>Please proceed to clean and install Loopbacks.</p>
    </div>
  </div>

    <div class="row">
      <div class="col">
        <div class="md-form mt-0">
          <button *ngIf="!visible" type="submit" mdbBtn color="default" [disabled]="!insertionForm.valid">Check</button>
          <button  type="button" mdbBtn color="danger" (click)="formReset()">Reset</button>
        </div>
      </div>
    </div>
    </form>
    </div>



