.jumbotron {
  margin: 20px;
}
.radio-grp {
  text-align: left;
  padding: 0;
  .col-sm-2.col-form-label {
    padding-left: 0;
  }
}
.serialNumber {
  width: 100%;
  margin-top: 25px;
}
.hide {
  display: none;
}
