<div class="jumbotron text-center">
  <div #alert1 class="alert alert-success alert-dismissible fade show hide" role="alert">
    <button type="button" class="close" aria-label="Close" (click)="closeAlert('alert1')">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong #message id="message">Loopback Lot created.</strong>
  </div>
  <div #alert2 class="alert alert-warning alert-dismissible fade show hide" role="alert">
    <button type="button" class="close" aria-label="Close" (click)="closeAlert('alert2')">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong #message id="message">This Lot has a Pending scan process. Please continue scanning.</strong>
  </div>
  <h3>Loopback Lot Creation Process</h3>

  <form [formGroup]="creationForm" (ngSubmit)="onFormSubmit()">
    <div class="row">
      <div class="col">
        <div class="md-form mt-0">
          <input type="text" class="completer-input form-control mdb-autocomplete" formControlName="gpn"
              (ngModelChange)="filter($event)" [mdbAutoCompleter]="auto" placeholder="Lot Number">

            <mdb-auto-completer #auto="mdbAutoCompleter" textNoResults="No results found.">
              <mdb-option *ngFor="let option of results" [value]="option" (click)="checkGPN(option)">
                {{ option }}
              </mdb-option>
            </mdb-auto-completer>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="md-form mt-0">
          <input mdbInput type="number" class="form-control" formControlName="quantity">
          <label>Quantity:</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col serialNumber">
        <div class="md-form mt-0">
          <input mdbInput type="number" class="form-control" formControlName="maxCount">
          <label>Insertion Count:</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
          <div class="col-sm-10 radio-grp">
            <label class="col-sm-2 col-form-label">Serial Number Required ?</label>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="yes" value="yes" name="SNRequired" mdbInput formControlName="SNRequired">
              <label class="custom-control-label" for="yes">Yes</label>
            </div>

            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="no" value="no" name="SNRequired" mdbInput formControlName="SNRequired" (ngModelChange)="cancelLoopbacks()">
              <label class="custom-control-label" for="no">No</label>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="md-form mt-0">
          <button *ngIf="!showLoopbacks" type="submit" mdbBtn color="default" [disabled]="!creationForm.valid">Create</button>
          <button *ngIf="!showLoopbacks" type="button" mdbBtn color="danger" (click)="formReset()">Reset</button>
        </div>
      </div>
    </div>
    <div *ngIf="showLoopbacks">

      <div class="row">
        <div *ngIf="serialNumber !== undefined" class="serialNumber">
        <div *ngFor="let serialNumberGroup of serialNumber.controls; let i = index;"
        [formGroup]="serialNumberGroup">
        <div class="col" *ngIf="i+1==serialNumber.controls.length">
          <div class="md-form mt-0">
            <input mdbInput type="text" class="form-control" formControlName="serialNumber">
            <label>Scan Loopback: {{i+1}}</label>
            <mdb-error *ngIf="serialNumber.status !=='VALID'">Required</mdb-error>
          </div>
        </div>
      </div>
      </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="md-form mt-0">
            <button *ngIf="(serialNumber.controls.length > initialSNumbers+1)" type="button" mdbBtn color="primary" (click)="previousInput()">Previous</button>
            <button *ngIf="SNumberInputs !== 0"type="button" mdbBtn color="default" (click)="generateSerialNumberInputs()" [disabled]="serialNumber.status !== 'VALID'">Next</button>
            <button *ngIf="SNumberInputs !== 0" type="button" mdbBtn color="dark-green" (click)="saveLoopbacks()" [disabled]="serialNumber.status !== 'VALID'">Save</button>
            <button *ngIf="SNumberInputs == 0" type="submit" mdbBtn color="dark-green" (click)="saveLoopbacks()" [disabled]="serialNumber.status !== 'VALID'">Submit</button>
            <button  type="button" mdbBtn color="danger" (click)="cancelLoopbacks()">Cancel Scan</button>
          </div>
        </div>

      </div>
  </div>
  </form>
</div>

